<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                <b class="logo-mini">
                    <img src="../assets/images/logo/logo_right.png" alt="homepage" class="dark-logo" class="light-logo"
                        style="    height: 50px;" />
                </b>
                <span>
                    <img  src="../assets/images/logo/logo-bcm.png" class="light-logo"
                        alt="homepage" />
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                <li class="nav-item"> <a
                        class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-sm-down search-box"> <a
                        class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                       PHẦN MỀM QUẢN LÝ BẤT ĐỘNG SẢN
                    </a>

                </li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark notify-main" href="" id="2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell" ></i>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">

                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-vn"></i></a>
                        <div class="dropdown-menu dropdown-menu-right scale-up">
                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-vn"></i> Việt Nam</a>
                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-us"></i> English</a>
                        </div>
                      </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark d-flex" href=""
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="name-user" > Đăng
                            nhập <i class="fa fa-sign-in-alt"></i></span>
                        &nbsp;

                    </a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <!-- <li><a [routerLink]="['/pages/system/profile']" ><i class="ti-user"></i> Thông tin cá nhân</a></li> -->
                            <!-- <li role="separator" class="divider"></li> -->
                            <li><a><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
