<div id="main-projects">
  <div class="card p-4">
    <div class="col-12 form-group text-right wrap-button">
      <button class="btn btn-bcm mr-2" (click)="fnAdd()">
        <span class="btn-label"> <i class="fa fa-plus"></i></span> Thêm
      </button>
      <button
        class="btn btn-bcm mr-2"
        type="button"
        [class.disabled]="this.dataRowEdit == null"
        (click)="fnEdit()"
      >
        <span class="btn-label"> <i class="far fa-edit"></i></span> Sửa
      </button>
      <button
        class="btn btn-bcm mr-2"
        type="button"
        [class.disabled]="this.dataRowEdit == null"
        (click)="fnDelete()"
      >
        <span class="btn-label"><i class="fa fa-trash"></i></span> Xóa
      </button>
    </div>
    <dx-data-grid
      id="gridContainer"
      keyExpr="id"
      [dataSource]="dataSource"
      [showBorders]="true"
      [showRowLines]="false"
      [showColumnLines]="true"
      [rowAlternationEnabled]="true"
      (onRowClick)="onRowClick($event)"
    >
      <dxo-selection mode="single"></dxo-selection>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 25, 50, 100]"
        [visible]="true"
        [showNavigationButtons]="true"
        [showInfo]="true"
        infoText="Trang #{0}. Tổng: {1} ({2} danh mục đơn vị tính
          )"
      >
      </dxo-pager>
      <dxi-column dataField="brand" dataType="string" alignment="left">
      </dxi-column>
      <dxi-column dataField="title" dataType="string"> </dxi-column>
      <dxi-column dataField="category" dataType="string"> </dxi-column>
      <dxi-column dataField="price" dataType="number"> </dxi-column>
      <dxi-column dataField="stock" dataType="number"> </dxi-column>
    </dx-data-grid>
  </div>
</div>
<app-project-action
  #modalChild
  (sendData)="loadData($event)"
></app-project-action>
