<div id="main-projects">
  <div class="card p-4">
    <div class="col-12 form-group text-right wrap-button">
      <button class="btn btn-bcm mr-2">
        <span class="btn-label"> <i class="fa fa-plus"></i></span> Thêm
      </button>
      <button class="btn btn-bcm mr-2" type="button">
        <span class="btn-label"> <i class="far fa-edit"></i></span> Sửa
      </button>
    </div>
    <dx-data-grid
      id="gridContainer"
      [dataSource]="dataSource"
      [showBorders]="true"
      (onRowClick)="onRowClick($event)"
    >
    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing [allowUpdating]="false" [allowDeleting]="false" [useIcons]="true">
      <dxo-texts confirmDeleteMessage=" Bạn có chắc chắn muốn xóa bản ghi này không?"></dxo-texts>
    </dxo-editing>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10,25, 50, 100]"
                [showPageSizeSelector]="true" [showNavigationButtons]="true" [showInfo]="true" infoText="Trang #{0}. Tổng: {1} ({2} danh mục đơn vị tính
          )"> </dxo-pager>
    <dxi-column dataField="CompanyName" dataType="number" alignment="left"> </dxi-column>
    <dxi-column dataField="City" dataType="string"> </dxi-column>
    <dxi-column dataField="State" dataType="string"> </dxi-column>
    <dxi-column dataField="Phone" dataType="string"> </dxi-column>
    <dxi-column dataField="Fax" dataType="string"> </dxi-column>
    </dx-data-grid>
  </div>
</div>
<app-project-action></app-project-action>



