<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <!-- End Sidebar navigation -->
    <!-- End Sidebar navigation -->


    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <ng-container *ngFor="let item of navigation">
          <li  [class.active]="item.isSelected">
            <ng-container  *ngIf="item.childrens?.length > 0; else elseTemplate"  >
              <a  data-toggle="collapse" href="#"  [class.has-arrow]="item.childrens.length > 0" [routerLinkActive]="item.url!=''?'active':''   "
                class="waves-effect waves-dark " [attr.aria-expanded]="item.isSelected" [class.collapsed]="!item.isSelected" (click)="openMenu(item)">
                <i class="{{item.icon}}"></i>
                <span class="hide-menu"> {{item.name}} </span>
              </a>
            </ng-container>
            <ng-template #elseTemplate>
              <a [routerLink]="item.url" [class.has-arrow]="item.childrens.length > 0"
                [routerLinkActive]="item.url!=''?'active':''" class="waves-effect waves-dark " aria-expanded="false">
                <i class="{{item.icon}}"></i>
                <span class="hide-menu"> {{item.name}} </span>
              </a>
            </ng-template>


            <ul  class="collapse" [class.show]="item.isSelected">
              <ng-container *ngFor="let child of item.childrens">
                <li>
                  <a [routerLink]="child.url" [routerLinkActive]="child.url!=''?'active':''">
                    <i [class]="child.icon"></i> {{ child.name }}
                  </a>
                </li>
              </ng-container>

            </ul>
          </li>
        </ng-container>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
