<div
  class="modal fade"
  bsModal
  #lgModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          <b>{{ "Thông tin hợp đồng" | uppercase }}</b>
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="your-action" (submit)="fnSave()">
          <dx-form
            labelLocation="left"
            id="form"
            [(formData)]="entity"
          >
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item
                dataField="brand"
                [label]="{ text: 'Brand' }"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'Brand...',
                  }"
              >
                <dxi-validation-rule type="required" message="Bắt buộc nhập">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                dataField="title"
                [label]="{ text: 'Title' }"
                [editorOptions]="{
                  stylingMode: 'outlined',
                  placeholder: 'Title...',
                }"
              >
                <dxi-validation-rule type="required" message="Bắt buộc nhập">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                dataField="category"
                [label]="{ text: 'Category' }"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'Category...',
                  }"
              >
              </dxi-item>

              <dxi-item
                dataField="price"
                [colSpan]="2"
                [label]="{ text: 'Price' }"
                editorType="dxNumberBox"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'Price...',
                  }"
              >
              </dxi-item>
              <dxi-item
                dataField="stock"
                [colSpan]="2"
                [label]="{ text: 'Stock' }"
                editorType="dxNumberBox"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'Stock...',
                  }"
              >
              </dxi-item>
            </dxi-item>
          </dx-form>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="text-right">
              <div>
                <button
                  class="btn btn-bcm waves-effect waves-light mr-1"
                  type="button"
                  (click)="fnCancel()"
                >
                  <span class="btn-label"><i class="fa fa-times"></i></span>Đóng
                </button>
                <button
                  class="btn btn-bcm waves-effect waves-light mr-1"
                  type="button"
                  data-size="s"
                  data-color="bcm"
                  (click)="fnSave()"
                >
                  <span class="btn-label"><i class="fa fa-check"></i></span>Lưu
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
