<div
  class="modal fade"
  bsModal
  #lgModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          <b>{{ "Thông tin hợp đồng" | uppercase }}</b>
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <dx-form
            labelLocation="left"
            id="form"
            [(formData)]="entity"
            (onFieldDataChanged)="onFieldDataChanged($event)"
          >
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item
                dataField="CompanyName"
                [label]="{ text: 'Company Name' }"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'Company name...',
                  }"
              >
                <dxi-validation-rule type="required" message="Bắt buộc nhập">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                dataField="City"
                [label]="{ text: 'City' }"
                [editorOptions]="{
                  stylingMode: 'outlined',
                  placeholder: 'City...',
                }"
              >
                <dxi-validation-rule type="required" message="Bắt buộc nhập">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item
                dataField="State"
                [label]="{ text: 'State' }"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'State...',
                  }"
              >
              </dxi-item>

              <dxi-item
                dataField="Phone"
                [colSpan]="2"
                [label]="{ text: 'Phone' }"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'Phone...',
                  }"
              >
              </dxi-item>
              <dxi-item
                dataField="Fax"
                [colSpan]="2"
                [label]="{ text: 'Fax' }"
                [editorOptions]="{
                    stylingMode: 'outlined',
                    placeholder: 'Fax...',
                  }"
              >
              </dxi-item>
            </dxi-item>
          </dx-form>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="text-right">
              <div>
                <button
                  class="btn btn-bcm waves-effect waves-light mr-1"
                  type="button"
                  (click)="fnCancel()"
                >
                  <span class="btn-label"><i class="fa fa-times"></i></span>Đóng
                </button>
                <button
                  class="btn btn-bcm waves-effect waves-light mr-1"
                  type="submit"
                  data-size="s"
                  data-color="bcm"
                  (click)="fnSave()"
                >
                  <span class="btn-label"><i class="fa fa-check"></i></span>Lưu
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
